@page "/"
@using PersianDatePickerSample.Components.PersianDatePickerComponent
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<div style="display: flex; gap: 1rem; margin: 1rem 0;">
    <PersianDatePicker @bind-Date="@DateFtom" />
    <PersianDatePicker @bind-Date="@DateTo" />
    <PersianDatePicker @bind-Date="@Date"  />
</div>




@code{
    DateTime? DateFtom = DateTime.Now;
    DateTime? DateTo = DateTime.Now;

    DateTime? Date = DateTime.Now;
}
